div.aligncenter, .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

a, a:hover {
  color: navy;
}

a:hover {
  text-decoration: underline;
}

a, a:visited {
  text-decoration: none;
}

a img {
  border: none;
}

body {
  font-family: Georgia, "Times New Roman", Times, Serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
  margin-top: .5rem;
}

h1 {
  font-size: 150%;
}

.about-us-contributor {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: .5rem;
}

.avg-war [type="text"] { 
  background:white; 
  color:black; 
  font-family:Tahoma,Arial; 
  text-align:center;  
  font-weight:900;
}

.avg-war table {
  border: none;
}

.avg-war .battingDark { 
  background:#336600; 
  color:white; 
  font-family:Tahoma,Arial; 
  font-size:small;
  font-weight:900;
  text-align:center;  
}

.avg-war .battingLight { 
  background:#339966; 
  color:white; 
  font-family:Tahoma,Arial; 
  font-size:small;
  font-weight:900;
  text-align:center;  
}

.avg-war .pitchingDark { 
  background:#336600; 
  color:white; 
  font-family:Tahoma,Arial; 
  font-size:small;
  font-weight:900;
  text-align:center;  
}

.avg-war .pitchingLight { 
  background:#339966; 
  color:white; 
  font-family:Tahoma,Arial; 
  font-size:small;
  font-weight:900;
  text-align:center;  
}

.avg-war-players table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: Arial;
  font-size: 8pt;
}

.breadcrumb {
  margin-top: .5rem;
}

.clearer {
  clear: both;
}

.column {
  padding-left: 2rem;
  padding-right: .5rem;
}

.footer {
  margin-top: 12px;
  padding: 2rem 1.5rem 2rem;
}

.index-main .columns {
  min-height: 600px
}

.index-masthead {
  font-size: smaller;
  margin: 1px auto;
  text-align: center;
}

.index-masthead .tagline {
  display: block;
}

.index-menu {
  border-right: 2px solid silver;
}

.storycontent p {
  margin-bottom: 1rem;
}