div.aligncenter, .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

a, a:hover {
  color: navy;
}

a:hover {
  text-decoration: underline;
}

a, a:visited {
  text-decoration: none;
}

a img {
  border: none;
}

body {
  font-family: Georgia, "Times New Roman", Times, Serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
}

h1 {
  font-size: 150%;
  padding-top: 6px;
}

.breadcrumb {
  margin-top: 6px;
}

.clearer {
  clear: both;
}

.footer {
  margin-top: 12px;
  padding: 2rem 1.5rem 2rem;
}

.menu {
  border-right: 2px solid silver;
  padding-left: 24px;
  }

/* --- INDEX --- */

.index-cell-content {
  vertical-align: top;
  width: 625px;
}

.index-main .columns {
  min-height: 600px
}

.index-masthead {
  font-size: smaller;
  margin: 1px auto;
  text-align: center;
}

.index-masthead .tagline {
  display: block;
  font-size: smaller;
}

.index-sidebar-left {
  vertical-align: top;
  width: 250px;
}

.index-sidebar-right {
  text-align: right;
  vertical-align: top;
  width: 125px;
}

.index-table-main {
  width: 1000px;
}

.index-vertical-bar {
  background-color: #C0C0C0;
  width: 0px;
}