<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Baseball Ink</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/bulma.css" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}{{ site.baseurl }}/favicon.ico">
  </head>
  <body>
    <nav class="navbar is-dark" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}">
          Baseball Ink
        </a>
        
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}">
            Home
          </a>
    
          <div class="navbar-item has-dropdown" id="dropdown-magazine">
            <a class="navbar-link">
              Magazine
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/pages/magazine/vol_1_no_1/bi_vol_1_no_1_home.html">
                Vol. 1, No. 1 - June 2000
              </a>
              <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/pages/magazine/vol_1_no_2/bi_vol_1_no_2_home.html">
                Vol. 1, No. 2 - September 2000
              </a>
              <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/pages/magazine/vol_1_no_3/bi_vol_1_no_3_home.html">
                Vol. 1, No. 3 - December 2000
              </a>
              <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/pages/magazine/vol_1_no_4/bi_vol_1_no_4_home.html">
                Vol. 1, No. 4 - March 2001
              </a>
              <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/pages/magazine/vol_2_no_1/bi_vol_2_no_1_home.html">
                Vol. 2, No. 1 - June 2001
              </a>
              <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/pages/magazine/vol_2_no_2/bi_vol_2_no_2_home.html">
                Vol. 2, No. 2 - September 2001
              </a>
            </div>
          </div>

          <div class="navbar-item has-dropdown">
            <a class="navbar-link">
              Average WAR
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/pages/avg-war/avg-war.html">
                AvgWAR Explained
              </a>
              <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/pages/avg-war/average-war-for-2018-hall-of-fame-candidates.html">
                AvgWAR for 2018 Hall of Fame Candidates
              </a>
              <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/pages/avg-war/average-war-for-2017-hall-of-fame-candidates.html">
                AvgWAR for 2017 Hall of Fame Candidates
              </a>
              <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/pages/avg-war/average-war-for-2016-hall-of-fame-candidates.html">
                AvgWAR for 2016 Hall of Fame Candidates
              </a>
              <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/pages/avg-war/average-war-for-2015-hall-of-fame-candidates.html">
                AvgWAR for 2015 Hall of Fame Candidates
              </a>
              <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/pages/avg-war/average-war-for-2014-hall-of-fame-candidates.html">
                AvgWAR for 2014 Hall of Fame Candidates
              </a>
              <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/pages/avg-war/average-war-for-2013-hall-of-fame-candidates.html">
                AvgWAR for 2013 Hall of Fame Candidates
              </a>
              <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/pages/avg-war/average-war-for-2012-hall-of-fame-candidates.html">
                AvgWAR for 2012 Hall of Fame Candidates
              </a>
              <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/pages/avg-war/lenny-harris-for-hall-of-fame-huh.html">
                Lenny Harris for Hall of Fame...huh?
              </a>
            </div>
          </div>
  
          <div class="navbar-item has-dropdown">
            <a class="navbar-link">
              Promotion/Relegation
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/pages/pro-rel/promotion-relegation.html">
                Promotion/Relegation Tables
              </a>
              <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/pages/pro-rel/introducing-promotion-and-relegation-to-professional-baseball.html">
                Introducing Promotion and Relegation to Professional Baseball
              </a>
            </div>
          </div>
  
          <a href="{{ site.url }}{{ site.baseurl }}/pages/limericks/baseball-limericks.html" class="navbar-item">
            Limericks
          </a>
    
          <div class="navbar-item has-dropdown">
            <a class="navbar-link">
              More
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{{ site.url }}{{ site.baseurl }}/pages/about-us.html">
                About Baseball Ink
              </a>
              <a class="navbar-item" href="https://github.com/jaypalexa/baseballink" title="GitHub">
                GitHub
              </a>
            </div>
          </div>
      
        </div>
      </div>
    </nav>

    <div class="columns index-main">
      <div class="column is-one-fifth index-menu">
        <div class="index-masthead has-text-centered">
          <a href="{{ site.url }}{{ site.baseurl }}" title="Baseball Ink"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/bi_logo_xsm.gif" width="200" height="71" alt="Baseball Ink" /></a>
          <p class="is-size-7">Baseball The Way It Was Meant To Be</p>
        </div>
      </div>
      <div class="column is-four-fifths container" id="content">
        {{ content }}
      </div>
    </div>

    <script src="{{ site.url }}{{ site.baseurl }}/assets/scripts/bulma.js"></script>
  </body>
</html>

