<!DOCTYPE html>
<html>
  <head>
    <title>Baseball Ink</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/bulma.css" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}{{ site.baseurl }}/favicon.ico">
  </head>
  <body>
    <section>
      <div class="columns index-main">
        <div class="column is-one-quarter index-menu">
          <div class="index-masthead">
              <a href="{{ site.url }}{{ site.baseurl }}" title="Baseball Ink"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/bi_logo_xsm.gif" width="200" height="71" alt="Baseball Ink" /></a>
              <a href="{{ site.url }}{{ site.baseurl }}" title="Baseball Ink" class="tagline">Baseball The Way It Was Meant To Be</a>
            </div>
            <ul>
              <li><a href="{{ site.url }}{{ site.baseurl }}">Home</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/pages/magazine/magazine.html" title="Magazine">Magazine</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/pages/avg-war/avg-war.html" title="Average WAR">Average WAR</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/pages/pro-rel/promotion-relegation.html" title="Promotion/Relegation">Promotion/Relegation</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/pages/limericks/baseball-limericks.html" title="Baseball Limericks">Baseball Limericks</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/pages/about-us.html" title="About Baseball Ink">About Baseball Ink</a></li>
            </ul>
        </div>
        <div class="column is-three-quarters container" id="content" >
          {{ content }}
        </div>
      </div>
    </section>
    <div class="clearer"></div>
    <footer class="footer">
      <div class="content has-text-centered">
        Copyright &copy; 2000-2019 <a href="{{ site.url }}{{ site.baseurl }}/pages/about-us.html">Baseball Ink</a>
        &nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href="{{ site.url }}{{ site.baseurl }}/pages/about-us.html">About Us</a>
        &nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href="https://github.com/jaypalexa/baseballink" title="GitHub" target="_blank">GitHub</a>
      </div>
    </footer>
  </body>
</html>

